/* GENERAL */

body {
    background-color: #183A2A;
    color: #eeeeee;
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    color: #d4a373;
    font-size: 45px;
}

h2 {
    color: #d4a373;
    font-size: 32px;
}

p {
    font-size: 18px;
}


/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 60px;

    background-color: #10281D;
}


.logo {
    font-size: 24px;
    font-weight: bold;
    color: #eeeeee;
}


.nav-links {
    display: flex;
    gap: 30px;
}


.nav-links a {
    text-decoration: none;
    color: #eeeeee;
    font-size: 16px;
}


.nav-links a:hover {
    color: #d4a373;
}


/* HERO */

.hero {
    background-color: #181818;
    color: white;
    padding: 100px 50px;
    text-align: center;
}


.hero h1 {
    color: #d4a373;
    font-size: 55px;
}


.hero p {
    color: #cccccc;
    font-size: 20px;
}


.hero-text {
    max-width: 500px;
}


.shop-button {
    display: inline-block;

    padding: 15px 30px;

    background-color: #d4a373;
    color: #181818;

    text-decoration: none;

    border-radius: 5px;
}


.shop-button:hover {
    background-color: #b98555;
}


/* FEATURED */

.featured {
    text-align: center;
    padding: 80px 20px;
    background-color: #183A2A;
}


.featured h2 {
    font-size: 40px;
    margin-bottom: 15px;
    color: #d4a373;
}


.featured p {
    font-size: 18px;
    color: #dddddd;
}


/* SHOP */

.shop {
    padding: 70px 60px;
    text-align: center;
    background-color: #183A2A;
}


.shop h1 {
    font-size: 45px;
    margin-bottom: 10px;
}


.shop > p {
    color: #dddddd;
    margin-bottom: 40px;
}


/* PRODUCTS */

.products {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}


.product-card {
    width: 280px;

    background-color: #244936;

    padding: 15px;

    border-radius: 10px;

    text-align: left;

    transition: 0.3s;
}


.product-card:hover {
    transform: translateY(-5px);
}


.product-card img {
    width: 100%;
    height: 330px;

    object-fit: cover;

    border-radius: 8px;
}


.product-card h3 {
    margin-top: 15px;
    font-size: 20px;
    color: #eeeeee;
}


.product-card p {
    margin-top: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #d4a373;
}


.product-card button {
    margin-top: 15px;

    padding: 10px 20px;

    background-color: #d4a373;

    color: #181818;

    border: none;

    border-radius: 5px;

    cursor: pointer;
}


.product-card button:hover {
    background-color: #b98555;
}
/* ABOUT PAGE */

.about-container {
    width: 80%;
    margin: 50px auto;
    padding: 40px;
    background-color: #244936;
    border-radius: 10px;
}

.about-container h1 {
    color: #d4a373;
    font-size: 45px;
}

.about-container h2 {
    color: #d4a373;
    font-size: 32px;
}

.about-container p {
    color: #eeeeee;
    font-size: 18px;
    line-height: 1.7;
}
/* CART */

.cart {
    padding: 60px;
    min-height: 70vh;
    background-color: #183A2A;
}

.cart h1 {
    text-align: center;
    color: #d4a373;
    font-size: 45px;
    margin-bottom: 40px;
}

#cart-items {
    max-width: 900px;
    margin: auto;
}


/* CART ITEM */

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #244936;

    padding: 20px;
    margin-bottom: 20px;

    border-radius: 10px;
}

.cart-item img {
    width: 100px;
    height: 120px;

    object-fit: cover;

    border-radius: 8px;
}

.cart-item-info {
    flex: 1;
    margin-left: 20px;
}

.cart-item-info h3 {
    color: #eeeeee;
    margin-bottom: 8px;
}

.cart-item-info p {
    color: #d4a373;
}


/* REMOVE BUTTON */

.remove-button {
    padding: 10px 15px;

    background-color: #7a3e48;
    color: white;

    border: none;

    border-radius: 5px;

    cursor: pointer;
}

.remove-button:hover {
    background-color: #9b4f5b;
}


/* CART SUMMARY */

.cart-summary {
    max-width: 900px;

    margin: 40px auto 0;

    padding: 25px;

    background-color: #10281D;

    border-radius: 10px;

    text-align: right;
}

.cart-summary h2 {
    color: #d4a373;
}

.cart-summary p {
    color: #eeeeee;
    font-size: 22px;
}

.cart-summary button {
    padding: 14px 25px;

    background-color: #d4a373;

    color: #181818;

    border: none;

    border-radius: 5px;

    cursor: pointer;

    font-size: 16px;

    font-weight: bold;
}

.cart-summary button:hover {
    background-color: #b98555;
}